<%- include('partials/header.ejs'); -%>

    <div class="main-body-container">
        <%- include('partials/navigation/breadcrumbs.ejs'); -%>
        <div class="main-body">

            <form class="events-details" action="/plans/" method="POST">
                <div class="input">
                    <label for="planName">Event Name</label>
                    <input class="text-input" type="text" id="planName" name="planName">
                </div>

                <div class="date-and-time-group">
                    <div class="input date">
                        <label for="location">Date</label>
                        <input class="text-input" type="date" id="location" name="location">
                    </div>
                    <div class="input time">
                        <label for="location">Start Time</label>
                        <input class="text-input" type="time" id="location" name="location">
                    </div>
                    <div class="input time">
                        <label for="location">End Time</label>
                        <input class="text-input" type="time" id="location" name="location">
                    </div>
                </div>

                <div class="input">
                    <label for="planDescription">Description</label>
                    <textarea class="paragraph-input planDescription" type="text" id="planDescription" name="planDescription"></textarea>
                </div>


                <div class="primary-button continue-button">
                    <input class="input-button button-text" type="submit" value="Continue" id="">
                </div>

            </form>

        </div>
    </div>

<%- include('partials/footer.ejs'); -%>