<%- include('partials/header.ejs'); -%>
    <div class="main-body-container">

        <div class="main-body">

            <div class="page-header">
                <h1>My Plans</h1>
            </div>
            <div class="empty-state-container">
                <form class="empty-state" action="/myplans/new" method="GET">
                    <img class="plans-empty-state" src="/img/launch.png"  alt="">
                    <div class="empty-state-copy">
                        <h4>Create a travel plan</h4>
                        <p>Plan the perfect stress free-trip!</p>
                    </div>
                    <div class="secondary-button with-icon">
                        <img class="icon-default" src="/img/add-dark.png" alt="">
                        <input class="input-button button-text" type="submit" value="New Plan">
                    </div>
                </form>
            </div>

        </div>

    </div>
<%- include('partials/footer.ejs'); -%>