<div class="page-header">
    <h1>My Plans</h1>
</div>
<div class="body-container">
    <form class="empty-state-container" action="">
        <img src="" alt="">
        <div class="empty-state-copy">
            <h4>Create a travel plan</h4>
            <p>Plan the perfect stress free-trip!</p>
        </div>
        <div class="secondary-button with-icon">
            <img class="icon-default" src="" alt="">
            <input type="submit" value="New Plan">
        </div>
    </form>
</div>