`<%- include('partials/header.ejs'); -%>

<div class="main-body-container">
    <section class="breadcrumbs-container">

        <ul class="breadcrumbs">
            <li class="breadcrumb-item breadcrumb-toppage">
                <a class="breadcrumb-item step-1" href="">
                    <!-- <span class="icon-container-default"><img class="icon-default" src="/img/plans.png" alt=""></span> -->
                    1. Plan Details
                </a>
            </li>
            <img class="icon-default" src="/img/divider.png" alt="">
            <li>
                <a class="breadcrumb-item step-2" href="">
                    2. Event Schedule
                </a>
            </li>
        </ul>
    
    </section>

    <div class="main-body">
        <form class="plan-details" action="/myplans/new" method="POST">
                <div class="form-header-container">
                    <h2>Add your travel plan details</h2>
                    <!-- <p>Add your travel plan details</p> -->
                </div>    
            
            
                <div class="input">
                    <label for="planName">Plan Name</label>
                    <input class="text-input" type="text" id="planName" name="planName" required>
                </div>

                <div class="input">
                    <label for="location">Location</label>
                    <input class="text-input" type="text" id="location" name="location">
                </div>

                <div class="input">
                    <label for="planDescription">Description</label>
                    <textarea class="paragraph-input planDescription" type="text" id="planDescription" name="planDescription"></textarea>
                </div>


                <div class="primary-button continue-button">
                    <input class="input-button button-text" type="submit" value="Next" id="">
                </div>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs'); -%>
