.main-body-container {
    top: 72px;
    left: 296px;
    position: fixed;
    height: calc(100vh - 72px);
    width: calc(100vw - 296px);
}

.main-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    padding: 24px 32px 24px 32px;
}


.page-header {
    grid-column: span 12;
}

.page-header h1 {
    padding-bottom: 24px;
}

.empty-state-container {
    grid-column: span 12;
}

.empty-state {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding-top: 64px;
}

img.plans-empty-state {
    height: 208px;
}

.empty-state-copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}



form.plan-details, form.events-details {
    grid-column: span 8;
}

.date-and-time-group {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.date {
    flex: 1 0 0;
}

label {
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 2px;
    color: var(--black-900)
}

.text-input, .paragraph-input {
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--black-600);

    font-family: Outfit;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.text-input {
    height: 30px;
    padding: 0px 16px;
}

.paragraph-input {
    height: 158px;
    padding: 8px 16px;
}


/* ------------------ Table Style ------------------ */
.my-plan-table {
    margin-top: 16px;
    border-collapse: collapse;
}

table {
    grid-column: span 12;
}

th {
    padding: 12px 16px 12px 16px;  
    border-bottom: 1px solid var(--black-300);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

td {
    padding: 20px 16px 20px 16px;
    border-bottom: 1px solid var(--black-100);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.body-row:hover {
    background-color: var(--black-50);
}

.th-plan-name, .td-plan-name, .th-location, .td-location {
    text-align: left;
}

.th-actions {
    text-align: right;
}

.td-actions {
    display: flex;
    justify-content: flex-end;
}

.action-button-group {
    display: flex;
    align-items: center;
    gap: 8px;
    visibility: hidden;
    pointer-events: none;
}  

.body-row:hover .action-button-group {
    pointer-events: auto;
    cursor: pointer;
    visibility: visible;
}

.delete {
    color: #DB0000;
}