:root {
    --black-50: #F6F6F6;
    --black-100: #E7E7E7;
    --black-200: #D1D1D1;
    --black-300: #B0B0B0;
    --black-400: #888;
    --black-500: #6D6D6D;
    --black-600: #5D5D5D;
    --black-900: #3D3D3D;
    --black-950: #050505;

    --saffron-400: #FCDD23;
    --saffron-500: #F6C113;
  }

    /* ------------------ Typography Styles------------------ */

body {
    font-family: Outfit;
    font-style: normal;
}


h1, h2, h3, h4, h5, h6, p{
    font-weight: 600;
    margin: 0px;
    color: var(--black-950);
}



h1 {
    font-size: 40px;
    line-height: 48px;
}



h2 {
    font-size: 32px;
    line-height: 40px;
}



h3 {
    font-size: 28px;
    line-height: 32px;
}



h4 {
    font-size: 24px;
    line-height: 32px;
}



h5 {
    font-size: 20px;
    line-height: 24px;
}


h6 {
    font-size: 16px;
    line-height: 24px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

p.subheader {
    color: var(--black-400);
}

a {
    text-decoration: none;
    color: var(--black-950);
}

.button-text {
    font-family: Outfit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}

.action-button-text {
    font-family: Outfit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0px;
}

.new-plan {
    font-weight: 600;
}

.my-plans:hover {
    text-decoration: underline;
}

/* ------------------ Button Styles------------------ */
.icon-container-default, .icon-default {
    height: 24px;
    width: 24px;
}


/* removing the styling of the submit input */
.input-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}



/* Primary Button 1️⃣ */ 
.primary-button {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 24px;
    background: var(--saffron-400);
    cursor: pointer;
}

.primary-button.with-icon, .secondary-button.with-icon{
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    height: 24px;
    cursor: pointer;
}

.primary-button.with-icon{
    display: flex;
    background: var(--saffron-400);
}

.primary-button.with-icon:hover {
    background: var(--saffron-500);
}

.continue-button {
    margin-top: 16px;
}



/* Secondary Button 2️⃣ */  
.secondary-button.with-icon{
    background: var(--black-50);
}

.secondary-button.with-icon:hover {
    background: var(--black-100);
}



/* Tertiary Button 3️⃣ */  
.tertiary-button.with-icon {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
}





.left-nav-add-button {
    margin: 0px 32px 0px 32px;
}


/* ------------------ Left Navigation ------------------ */
/* left-nav */
#left-nav{
    top: 72px;
    left: 0;
    width: 295px;
    position: fixed;
    height: calc(100vh - 72px);
    border-right: 1px solid var(--black-100);
    background: var(--black-50);
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


ul.navigation-menu-group {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


li.left-nav-item {
    display: flex;
    padding: 12px 24px 12px 32px;
    margin-right: 32px;
    align-items: flex-start;
    align-self: stretch;
    height: 24px;
    border-radius: 0px 24px 24px 0px;
}


li.left-nav-item:hover {
    background-color: var(--black-200);
}


a.left-nav-text-group {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    height: 24px;
    align-items: center;
}



/* ------------------ Topbar ------------------ */
#topbar-container {
    top: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid var(--black-100);
    z-index: 2;
}


#topbar{
    display: flex;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    -webkit-text-stroke-width: 2px;
    display: flex;
    align-items: center;
    gap: 8px;
}

a.brand {
    height: 40px;
}

.logo-container-default, .logo-default {
    height: 40px;
    width: 40px;
}

.topbar-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.community-user-group {
    display: flex;
    align-items: center;
    gap: 32px;
}

.user-wrap {
    height: 32px;
    width: 32px;
    background-color: #2D3682;
    border-radius: 24px;
    cursor: pointer;
}

.user-initials {
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    color: white;
}




/* ------------------ Topbar ------------------ */
ul.breadcrumbs {
    list-style: none;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 16px 32px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
}

.current{
    font-weight: 600;
}

.previous{
    font-weight: 300;
}

.next{
    color: var(--black-500)
}