<section class="breadcrumbs-container">

    <ul class="breadcrumbs">
        <li class="breadcrumb-item breadcrumb-toppage">
            <a class="breadcrumb-item" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/circle-1.png" alt=""></span>
                Trip Details
            </a>
        </li>
        <img class="icon-default" src="/img/divider.png" alt="">
        <li>
            <a class="breadcrumb-item" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/circle-2.png" alt=""></span>
                Event Schedule
            </a>
        </li>
    </ul>

</section>