<div id="left-nav">
    <div class="primary-button with-icon left-nav-add-button">
        <span><img class="icon-default" src="/img/add-dark.png" alt=""></span>
        <input class="input-button button-text" type="submit" value="New Plan">
    </div>

    <ul class="navigation-menu-group">
        <li class="left-nav-item left-nav-plans">
            <a class="left-nav-text-group" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/plans.png" alt=""></span>
                My Plans
            </a>
        </li>

        <li class="left-nav-item left-nav-recent">
            <a class="left-nav-text-group" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/recent.png" alt=""></span>
                Recent
            </a>
        </li>

        <li class="left-nav-item left-nav-favorites">
            <a class="left-nav-text-group" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/favorites.png" alt=""></span>
                Favorites
            </a>
        </li>

        <li class="left-nav-item left-nav-users">
            <a class="left-nav-text-group" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/users.png" alt=""></span>
                Shared
            </a>
        </li>
        
        <li class="left-nav-item left-nav-trash">
            <a class="left-nav-text-group" href="">
                <span class="icon-container-default"><img class="icon-default" src="/img/trash.png" alt=""></span>
                Trash
            </a>
        </li>
    </ul>
</div>