<section id="topbar-container">

    <div id="topbar">
    <div class="brand-logo-group">
        <a class="brand" href="">
            <span class="logo-container-default"><img class="logo-default" src="/img/nomad-logo.png" alt=""></span>
            Nomad
        </a>
    </div>

    <div class="community-user-group">
        <a class="topbar-item" href="">
            <span class="icon-container-default"><img class="icon-default" src="/img/globe.png" alt=""></span>
                Explore
        </a>
        <div class="user-wrap">
            <div class="user-initials">J</div>
        </div>

    </div>
    </div>

</section>